.w3l_footer_agile {
    padding: 1em 0;
    background: #0064d2;
    position: relative;
}
.w3_agile_address {
    margin-top: 30px;
    margin-bottom: 60px;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
#SearchName{width : 150px;
            height:40px;
            border:2px solid #ccc ;
            border-radius :5px ;
             background-color:#fff;
             padding:12px 15px 12px 12px ;
             transition:width 0.4s ease-in-out ;
             margin-top:4px;
}
#SearchName:focus {
    width : 100%;
}

.navbar-user {
    padding:10px;
    padding-bottom:0px;
    width:300px;

}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}